
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="Age" method="post">
            Enter DOB in DD/MM/YYYY: <input type="text" name="Dob"><br>
            <input type="submit" value="Calculate"/>
        </form>

    </div>
</body>
</html>
